<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Aston</a>
    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Demo</a>
        </li>

        <li ngbDropdown class="d-inline-block nav-item dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" id="dropdownBasic1" ngbDropdownToggle>Jobs</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a href="#" class="dropdown-item">Ajouter une Annonce</a>
            <a href="#" class="dropdown-item">Lister les annonces</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Connexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
